/* Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    /* about section */
    .about-container .about-count {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Mobile small */
@media screen and (max-width: 575px) {

    /* nav area */
    .nav-container .menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* about section */
    .about-container .about-count {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    /* choose section */
    .choose-container .choose-box {
        grid-template-areas:
            " premium     premium       premium  "
            " mobile      mobile        mobile"
            " global      global        global"
            " exclusive   exclusive     exclusive "
            " rich        rich          rich";
    }
}