/* Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    /* about section */
    .about-container .about-count {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Mobile small */
@media screen and (max-width: 575px) {

    /* nav area */
    .nav-container .menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* about section */
    .about-container .about-count {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    /* choose section */
    .choose-container .choose-box {
        grid-template-areas:
            " premium     premium       premium  "
            " mobile      mobile        mobile"
            " global      global        global"
            " exclusive   exclusive     exclusive "
            " rich        rich          rich";
    }

    /* feature section */
    .feature-container .feature-box {
        grid-template-areas:
            " future      future   future"
            " remote      remote    remote"
            " career      career     career";

    }

    .host-content {
        flex-direction: column;
        text-align: center;

    }

    .host-media {
        justify-content: center;
        padding-top: 1rem;
    }

    /* footer section here */
    .footer-social {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container .copyright {
        justify-content: center;
    }
}