/* Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {}


/* Mobile small */
@media screen and (max-width: 575px) {

    /* nav area */
    .nav-container .menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}