/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* --all  body  */
.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style :start */
.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}

/* P tag gray color */
.gray-color {
    color: #aa9fb8;
    font-size: 16px;
    font-weight: 400;
    line-height: clamp(1.25rem, 2vw, 1.5rem);
}

/* background color */
.linear-bg {
    background: linear-gradient(45deg,
            #f3c94a 0%,
            #ff6b8a 35%,
            #c84dbb 60%,
            #8e5ae3 80%,
            #6b5cff 100%);
}

/* color text */
.primary-color {
    background: linear-gradient(45deg,
            #f3c94a 0%,
            #ff6b8a 35%,
            #c84dbb 60%,
            #8e5ae3 80%,
            #6b5cff 100%);
    /* display: inline-block; */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --common color */
.section-heading {
    color: rgba(255, 255, 255, 1);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 6vw, 3.625rem);
    text-align: center;
    margin-bottom: clamp(1.5rem, 4vw, 2.5rem);
}

.display-flex {
    display: flex;
}

.primary-btn {
    font-weight: 500;
    color: white;
    padding: 10px 16px;
    border-radius: 46px;
    gap: 8px;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}

/* shared style :start */

/* header style start */
.banner {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: unset;
    background-attachment: scroll;
    min-height: 100dvh;
}

/* nav style here */
.nav {
    background-color: #1a0c30;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-block: clamp(1.25rem, 3vw, 1.875rem);
}

.nav-container .nav-logo {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    font-weight: 800;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.nav-container .menu {
    gap: 1.8rem;
}

.menu .menu-list {
    list-style: none;
}

.menu .menu-link {
    text-decoration: none;
    color: #e8e6ea;
}

/* banner style here */
.banner-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-block: clamp(3rem, 6vw, 5.9375rem);
}

.banner-container .banner-img {
    width: clamp(16rem, 35vw, 21.875rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-round-img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.microphone {
    width: clamp(4.5rem, 10vw, 7.25rem);
    height: auto;
    position: absolute;
    z-index: 2;
}

.banner-badge {
    background-color: #00ff88;
    padding: 8px 16px;
    border: none;
    border-radius: 46px;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 4%;
    left: 72%;
}

.banner-round-img:hover {
    border: 5px solid white;
    border-radius: 50%;
}

.banner-content {
    padding-top: clamp(3rem, 5vw, 5.0625rem);
}

.banner-content .banner-info {
    margin-bottom: clamp(0.75rem, 1.8vw, 1.5rem);
}

.banner-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;

}

.banner-btn .subscribe-btn {
    font-weight: 500;
    color: #00ff88;
    background: transparent;
    padding: 10px 16px;
    border-radius: 46px;
    gap: 8px;
    border: 1px solid #00ff88;
    cursor: pointer;
    align-items: center;
}

.banner-btn .spotify-btn {
    align-items: center;
}

/* about section code here */
.about {
    background: #1a0b2e;
}

.about .about-container {
    padding-bottom: clamp(3.75rem, 8vw, 7.5rem);
}

.about-content {
    text-align: center;
}

.about-info .info-1 {
    margin-bottom: clamp(0.5rem, 1.2vw, 1rem);
}

.about-info .info-2 {
    padding-bottom: clamp(3rem, 6.5vw, 5rem);
}

.about-info hr {
    opacity: 0.1;
    margin-block: clamp(3rem, 6.5vw, 5rem);
}

.about-count .count-card .count {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
    color: #00ff88;
}

.about-count .count-card {
    text-align: center;

}

.about-container .about-count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* choose area style here */
.choose {
    background-color: #230e3d;
}

.choose-container {
    padding-block: clamp(3.5rem, 8vw, 7.5rem);

}

.choose-box .box {
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 40px;
}

.choose-box .box>img {
    margin-bottom: 1rem;
}

.choose-box .box>h3 {
    font-size: clamp(1.125rem, 2.5vw, 1.5rem);
    font: 700;
    color: white;
    margin-bottom: clamp(0.5rem, 1.5vw, 1rem)
}

.choose-box .box>p {
    color: #aa9fb8;
    font-size: 16px;
    font-weight: 400;
    line-height: clamp(1.25rem, 2vw, 1.5rem);
}

.choose-box .box>img {
    width: 50px;
    height: 50px;
}

.choose-box .premium-box {
    grid-area: premium;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.choose-box .mobile-box {
    grid-area: mobile;

}

.choose-box .global-box {
    grid-area: global;
}

.choose-box .exclusive-box {
    grid-area: exclusive;

}

.choose-box .rich-box {
    grid-area: rich;
}

.choose-container .choose-box {
    display: grid;
    gap: clamp(1rem, 3vw, 1.875rem);
    grid-template-areas:
        " premium     mobile      mobile      mobile"
        " premium     global      global      global"
        " exclusive   exclusive   exclusive   rich";
}

/* feature style here */
.feature {
    background: #1a0b2e;
}

.feature .feature-container {
    padding-block: clamp(3.75rem, 8vw, 7.5rem);
}

.feature-box .card {
    width: 100%;
    /* max-width: clamp(20rem, 35vw, 23.75rem); */
    border-radius: 24px;
    background-color: #230e3d;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.card>iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: none;
}

.card .card-details {
    padding: 24px;
}

.card-details>h3 {
    font-size: clamp(1.125rem, 2.5vw, 1.5rem);
    font-weight: 700;
    margin-bottom: clamp(0.5rem, 1.2vw, 0.75rem);
    color: white;

}

.card-details .card-info {
    margin-bottom: clamp(0.5rem, 1.2vw, 0.75rem);

}

.card-details .video-time {
    color: #00ff88;
    display: flex;
    align-items: center;
    gap: 8px;
}

.feature-box .future-card {
    grid-area: future;
}

.feature-box .remote-card {
    grid-area: remote;
}

.feature-box .career-card {
    grid-area: career;
}

.feature-container .feature-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: clamp(1rem, 3vw, 1.875rem);
    grid-template-areas:
        " future   remote    career";
}