/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* --all  body  */
.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style :start */
.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}

/* P tag gray color */
.gray-color {
    color: #d1ced5;
    font-size: 16px;
    font-weight: 400;
    line-height: clamp(1.25rem, 2vw, 1.5rem);
}

/* background color */
.linear-bg {
    background: linear-gradient(45deg,
            #f3c94a 0%,
            #ff6b8a 35%,
            #c84dbb 60%,
            #8e5ae3 80%,
            #6b5cff 100%);
}

/* color text */
.primary-color {
    background: linear-gradient(45deg,
            #f3c94a 0%,
            #ff6b8a 35%,
            #c84dbb 60%,
            #8e5ae3 80%,
            #6b5cff 100%);
    /* display: inline-block; */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --common color */
h1,
h2,
h3 {
    color: rgba(255, 255, 255, 1);
}

.display-flex {
    display: flex;
}

.primary-btn {
    font-weight: 500;
    color: white;
    padding: 10px 16px;
    border-radius: 46px;
    gap: 8px;
    border: none;
    cursor: pointer;
}

/* shared style :start */

/* header style start */
header {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: unset;
    background-attachment: scroll;
    min-height: 100dvh;
}

/* nav style here */
.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-block: clamp(1.25rem, 3vw, 1.875rem);
}

.nav-container .nav-logo {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    font-weight: 800;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.nav-container .menu {
    gap: 1.8rem;
}

.menu .menu-list {
    list-style: none;
}

.menu .menu-link {
    text-decoration: none;
    color: #e8e6ea;
}

/* banner style here */
.banner-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-block: clamp(3rem, 7vw, 6.3125rem);
}